<ul id="slide-out" class="side-nav">
  <li><%= link_to "Home", root_path, class: 'waves-effect' %></li>
  <li><%= link_to 'Projects', projects_path, class: 'waves-effect' %></li>
  <li><%= link_to 'Work History', works_path, class: 'waves-effect' %></li>
  <% if admin_signed_in? %>
    <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete, class: 'waves-effect' %></li>
  <% else %>
    <li><%= link_to 'Login', new_admin_session_path, class: 'waves-effect' %></li>
  <% end %>
</ul>
