<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioCodeReview</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
      <a id="sticky" data-activates="slide-out" class="button-collapse sticky"><i class="fa fa-3x fa-bars" aria-hidden="true"></i></a>
    <%= render('layouts/nav') %>
  </body>
</html>
